

.studentCard{
	height: 30px;
	width: 50px;
}

.btn{
margin-top: 1px;
margin-left:0px;
width: 40%;
height: 35px;
display:inline-block;

}

#btnlogin{
margin-top: 1px;
margin-left:500px;
width: 80px;
height: 35px;
display:inline-block;
margin-top:15px;
text-align:top;
margin-top:25px;	
}

#btnlogout{
margin-left:0px;
width: 85px;
height: 35px;
display:inline-block;
margin-top:15px;
text-align:top;
margin-top:25px;	
}

#btnChange{
margin-left:350px;
width: 180px;
height: 35px;
display:inline-block;
margin-top:15px;
text-align:top;
margin-top:25px;
margin-right:2px;
}

#editbtn{
    background-color: blue;
    width: 45%;
    text-align: center;
    text-decoration: none;
}

#deletebtn{
  background-color: #ff0000;
  width: 45%;
  text-align: center;
   text-decoration: none;
}


li{
	text-decoration: none;
}

label,h2{
	color:#005d61;
	/*font-size:12px;*/
}


.modal-body{
	background-color: #1f2833;
}

.row{
	background-color: #1f2833;
}

.form-control{
	margin-bottom:1px;
	margin-top:1px;
}

#btnSave{
	width:95%;
	background-color:blue;
	font-size: 13px;

}
#btnCancel{
	width:95%;
	background-color:#1f2833;
	margin-top: 15px;
}
#btnDelete{
	width:95%;
	background-color:red;
	margin-top: 15px;
}

#btnInDelete{
	background-color:red;
	text-decoration: none;
	text-align: center;
}

#btnOutDelete{
	background-color:#1f2833;
	text-decoration: none;
	text-align: center;
}


#btnEdit{
	width:95%;
	background-color:#1f2833;
	margin-top: 15px;
}



#modalSave{
background-color:blue;	
}

#modalCancel{
background-color:red;	
}






.well{
	margin-top: 30px;
background-color: #1f2833;

}

.form-signin-heading{
	color:#005d61;
}

#logout{
	width:100%;
	background-color:red;

}

#changepwd{
	width:100%;
	margin-bottom:5px;
}

div.col-sm-9 input {
	max-width: 100%;
	width:100%;
	
}

div.col-sm-9 {
	width:calc(70% - 30px);
}

label.control-label {
	max-width: 100%;
	font-size: 1em;
	color: #66fcf1;
	width:calc(35% - 30px);	
}

.form_title {
	font-size: 1em;
}

.form-group {
	margin-bottom: .5rem;
}

.row {
	margin: 0 5px;
	border-radius: 3px;
}

.reg_form {
	/*background:#c5c6c7; */

}

.list-group-item {
	text-transform: uppercase;
	/*background-color: #483d8b;*/
	text-align: left;
	/*border-color: black;*/
	color: black;

}

aside{
	background-color: #c5c6c7;
}


.modal-dialog{
	border-radius: 100px;
}

.modal-body{
	border-radius: 10px;
}

input[type="text"],
 {
	text-align: left;
	text-indent:1px;
}